<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/header') %>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Crimson+Pro"
  />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/sucess-story.css" />
  <link rel="icon" type="image/png" href="/images/iw5.png" />
  <title>IndianWife.in</title>
</head>
<body>
  <%- include('partials/popmsg') %> <%- include('partials/nav') %>

    <section class="success-stories">
        <h2>Success Stories</h2>
        <p>Meet the happy couples who found love on our platform! 💖</p>
        
        <div class="stories-container">
          <% reversedSuccessStories.forEach(story => { %>
            <div class="story">
              <img src="<%= story.photo %>" alt="Couple">
              <h3><%= story.coupleName %></h3>
              <p>"<%= story.comment %>"</p>
            </div>
          <% }) %>

        </div>
    </section>
    <%- include('partials/footer') %>
</body>
</html>
